openapi: 3.2.0
info:
  title: Core Learning Needs API
  description: ''
  version: 1.0.0
  contact: {}
servers:
- url: https://app.360learning.com
  description: Production EU
- url: https://app.us.360learning.com
  description: Production US
tags:
- name: Learning Needs
paths:
  /api/v2/learning-needs:
    get:
      description: '> 🔑

        >

        > Required OAuth scope: `learningNeeds:read`.


        > 📖

        >

        > This endpoint is paginated with a page size of 500 learning needs. For more information, see the [Pagination guide](doc:pagination).


        Lists all learning needs in your platform.'
      operationId: v2.learningNeeds.GetLearningNeedsController_getLearningNeeds
      parameters:
      - name: 360-api-version
        in: header
        description: The version of the API.
        required: true
        schema:
          type: string
          enum:
          - v2.0
      responses:
        '200':
          description: Returns one page of 500 learning needs.
          headers:
            Link:
              schema:
                type: string
              description: 'URL (between `<` `>`) to fetch the immediate next page of results. For more information, see our [Pagination guide](doc:pagination).


                ⚠️ Only included if there is another page of results.'
              example: <my/resource/url>; rel="next"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/LearningNeedDTO'
        '401':
          description: The given access token is either missing, invalid, has expired, or has been revoked.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    enum:
                    - invalid_token
                required:
                - error
        '403':
          description: The given access token does not have the required OAuth scope to execute the request.
          content:
            application/json:
              schema:
                title: Invalid Scope
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        enum:
                        - invalid_scope
                      message:
                        type: string
                        example: A human-readable message to help with debugging.
                    required:
                    - code
                    - message
                required:
                - error
        '429':
          description: 'The client has sent too many requests in a short amount of time. '
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    enum:
                    - tooManyRequests
                required:
                - error
      security:
      - oauth2: []
      summary: List all learning needs
      tags:
      - Learning Needs
components:
  schemas:
    LearningNeedDTO:
      title: Learning Need
      type: object
      properties:
        _id:
          type: string
          description: The unique ID of the learning need.
          format: ObjectId
          example: 507f1f77bcf86cd799439011
          pattern: ^[a-fA-F0-9]{24}$
        groupId:
          type: string
          description: The unique ID of the group the learning need belongs to.
          format: ObjectId
          example: 507f1f77bcf86cd799439011
          pattern: ^[a-fA-F0-9]{24}$
        name:
          type: string
          description: The name of the learning need.
          example: Cross-Cultural Communication
        status:
          type: string
          enum:
          - new
          - exploring
          - onHold
          - projectOngoing
          - done
          - alreadyExists
          - discarded
          description: The status of the learning need.
        createdAt:
          format: date-time
          type: string
          description: The date when the learning need was created.
        authorId:
          type: string
          description: The unique ID of the user who declared the learning need.
          format: ObjectId
          example: 507f1f77bcf86cd799439011
          pattern: ^[a-fA-F0-9]{24}$
        questions:
          description: The questions associated with the learning need.
          type: array
          items:
            $ref: '#/components/schemas/Question'
        suggestedExpertIds:
          description: The unique IDs of the suggested experts for the learning need.
          example:
          - 507f1f77bcf86cd799439011
          type: array
          items:
            type: string
            format: ObjectId
            pattern: ^[a-fA-F0-9]{24}$
        volunteerIds:
          description: The unique IDs of the users that volunteered for this learning need.
          example:
          - 507f1f77bcf86cd799439011
          type: array
          items:
            type: string
            format: ObjectId
            pattern: ^[a-fA-F0-9]{24}$
      required:
      - _id
      - groupId
      - name
      - status
      - createdAt
      - authorId
      - questions
      - suggestedExpertIds
      - volunteerIds
    Question:
      title: Question
      type: object
      properties:
        title:
          type: string
          description: The title of the question.
          example: What is the problem that creating this training would solve?
        answer:
          type: string
          description: The answer to the question.
          example: It would strengthen the ties between the US and French Staff.
      required:
      - title
  securitySchemes:
    oauth2:
      type: oauth2
      flows: {}
      description: 'Use the token from the authentication endpoint in the Authorization header.


        Example: `Authorization: Bearer <token>`'
