{"openapi":"3.1.0","paths":{"/api/v2/uaa/users/me":{"get":{"description":"> 🔑\n>\n> Required OAuth scope: `users:read`.\n\nRetrieves the profile details of the authenticated user. This user-authorized endpoint can only be used with a token issued for a specific user. Refer to the [Create an access token](doc:authentication#step-1-create-an-access-token) documentation for more information.","operationId":"v2.users.GetProfileController_getProfile","parameters":[{"name":"360-api-version","in":"header","description":"The version of the API.","required":true,"schema":{"type":"string","enum":["v2.0"]}}],"responses":{"200":{"description":"Returns the profile details of the user.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserDTO"}}}},"401":{"description":"The given access token is either missing, invalid, has expired, or has been revoked.","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string","enum":["invalid_token"]}},"required":["error"]}}}},"403":{"description":"The client does not have access rights to the content.","content":{"application/json":{"schema":{"oneOf":[{"description":"The given access token does not have the required OAuth scope to execute the request.","title":"Invalid Scope","type":"object","properties":{"error":{"type":"object","properties":{"code":{"type":"string","enum":["invalid_scope"]},"message":{"type":"string","example":"A human-readable message to help with debugging."}},"required":["code","message"]}},"required":["error"]},{"description":"Authenticated user does not have rights to perform the requested operation.","title":"User Not Authorized","type":"object","properties":{"error":{"type":"object","properties":{"code":{"type":"string","enum":["userNotAuthorized"]},"message":{"type":"string","example":"A human-readable message to help with debugging."}},"required":["code","message"]}},"required":["error"]}]}}}},"429":{"description":"The client has sent too many requests in a short amount of time. ","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string","enum":["tooManyRequests"]}},"required":["error"]}}}}},"security":[{"oauth2":[]}],"summary":"Retrieve my profile","tags":["Users"]}}},"info":{"title":"User Authorized API","description":"","version":"1.0.0","contact":{}},"tags":[],"servers":[{"url":"https://app.360learning.com","description":"Production EU"},{"url":"https://app.us.360learning.com","description":"Production US"}],"components":{"securitySchemes":{"oauth2":{"type":"oauth2","flows":{},"description":"Use the token from the authentication endpoint in the Authorization header.\n\nExample: `Authorization: Bearer <token>`"}},"schemas":{"UserDTO":{"title":"User","type":"object","properties":{"_id":{"type":"string","description":"The unique ID of the user.","format":"ObjectId","example":"507f1f77bcf86cd799439011","pattern":"^[a-fA-F0-9]{24}$"},"mail":{"type":"string","description":"The email address of the user.","example":"john.smith@yopmail.com","minLength":1},"username":{"type":"string","description":"The username that can be used to log in if the company allows it.","example":"johnsmith","minLength":1},"status":{"type":"string","enum":["active","invited","deleted"],"description":"The status of the user."},"lang":{"type":"string","enum":["bg","cs","da","de","el","en","es","fi","fr","hr","ht_HT","hu","id","it","ja","kar_MM","ko","lt","mh_MH","nl","nl_BE","no","pl","pt","ro","ru","rw_RW","sk","sl","so_SO","sv","sw_KE","th","ti_ET","tr","uk","zh","vi"],"description":"The default language of the user, in a bigram format (en, fr, de, etc.)."},"firstName":{"type":"string","description":"The first name of the user.","example":"John","minLength":1},"lastName":{"type":"string","description":"The last name of the user.","example":"Smith","minLength":1},"job":{"type":"string","description":"The role title of the user.","example":"Engineer","minLength":1},"organization":{"type":"string","description":"The organization that the user belongs to.","example":"360Learning","minLength":1},"phone":{"type":"string","description":"The phone number of the user.","example":"+33123456789","minLength":1},"custom":{"type":"string","description":"The value of the **Additional information** field in the user’s profile. This is not the value of the custom fields associated with the user.","example":"Half-time worker","minLength":1},"deletedAt":{"description":"The list of dates and times when the user’s profile was soft deleted, in the `YYYY-MM-DDThh:mm:ss.sssZ` format (ISO 8601 in Coordinated Universal Time (UTC)).","type":"array","items":{"format":"date-time","type":"string"}},"primaryGroupId":{"type":"string","description":"The unique ID of the primary group of the user.","format":"ObjectId","example":"507f1f77bcf86cd799439011","pattern":"^[a-fA-F0-9]{24}$"},"reactivatedAt":{"description":"The list of dates and times when the user’s profile was reactivated, in the `YYYY-MM-DDThh:mm:ss.sssZ` format (ISO 8601 in Coordinated Universal Time (UTC)).","type":"array","items":{"format":"date-time","type":"string"}},"lastLoginDate":{"format":"date-time","type":"string","description":"The date and time when the user last logged in, in the `YYYY-MM-DDThh:mm:ss.sssZ` format (ISO 8601 in Coordinated Universal Time (UTC))."},"toBeDeactivatedAt":{"format":"date-time","type":"string","description":"The date and time when the user will be deactivated, in the `YYYY-MM-DDThh:mm:ss.sssZ` format (ISO 8601 in Coordinated Universal Time (UTC))."},"profileImageId":{"type":"string","description":"The unique ID of the profile image of the user.","format":"ObjectId","example":"507f1f77bcf86cd799439011","pattern":"^[a-fA-F0-9]{24}$"}},"required":["_id","status","lang"]}}},"webhooks":{}}